@model IEnumerable<ProyectoProgra4.Rutinas>

<h2>Rutinas</h2>

<br />
<br />


@if (Session["UserCorreo"] != null && Session["Rol"].Equals("Instructor"))
{
    <table class="table table-bordered table-hover" style="text-align:center">
        <thead style="background-color: #45403F; color:white">
            <tr>
                <th>Nombre de la rutina</th>
                <th>Duración</th>
                <th>Series</th>
                <th>Repetición</th>
                <th>Descanso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NomEjercicio</td>
                    <td>@item.Duracion</td>
                    <td>@item.Series</td>
                    <td>@item.Repeticion</td>
                    <td>@item.Descanso</td>
                    <td>
                        @if (Session["Rol"].Equals("Instructor"))
                        {
                            <button type="button" class="ui medium button" id="btnModificar" style="background-color:#F05742; color:white;" onclick="ObtenerRutina(@item.ID_Ejercicio);">
                                Modificar
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Session["UserCorreo"] != null && Session["Rol"].Equals("Cliente"))
{
    <table class="table table-bordered table-hover" style="text-align:center">
        <thead style="background-color: #45403F; color:white">
            <tr>
                <th>Nombre de la rutina</th>
                <th>Duración</th>
                <th>Series</th>
                <th>Repetición</th>
                <th>Descanso</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NomEjercicio</td>
                    <td>@item.Duracion</td>
                    <td>@item.Series</td>
                    <td>@item.Repeticion</td>
                    <td>@item.Descanso</td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>

    @Scripts.Render("/Funciones/RutinaF.js")

}
