@model IEnumerable<ProyectoProgra4.Rutinas>

<h2>Rutinas</h2>

<br />
<br />


<table class="ui five column orange table" style="text-align:center">
    <thead style="background-color: #45403F; color:white">
        <tr>
            <th>Nombre de la rutina</th>
            <th>Duración</th>
            <th>Series</th>
            <th>Repetición</th>
            <th>Descanso</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NomEjercicio</td>
                <td>@item.Duracion</td>
                <td>@item.Series</td>
                <td>@item.Repeticion</td>
                <td>@item.Descanso</td>
                <td>
                    @if (Session["Rol"].Equals("Instructor"))
                    {
                        <div class="col-sm-2">
                            <button type="button" class="ui medium button" id="btnModificar" style="background-color:#F05742; color:white;" onclick="ObtenerRutina(@item.ID_Ejercicio);">
                                Modificar
                            </button>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>

    @Scripts.Render("/Funciones/RutinaF.js")

}
