@model ProyectoProgra4.Entidades.clsRutina

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ActualizarRutina", "Rutina", FormMethod.Post, new { @class = "ui form" }))
{
    <div id="actualizarContainer" class="container body-content hidden">
        <a href="">
            <i onclick="EsconderDiv();" class="close large icon"></i>
        </a>
        <div class="required field">
            <div class="required field">
                <label>Nombre del ejercicio</label>
                @Html.TextBoxFor(Model => Model.nomEjercicio, new { @class = "form-control", @id = "txtNomEjercicio", @readonly = "true", @style = "background-color: #f6f6f6", @required = "true" })
            </div>
            <div class="required field">
                <label>Primer Apellido</label>
                @Html.TextBoxFor(Model => Model.duracion, new { @class = "form-control", @id = "txtDuracion", @readonly = "true", @style = "background-color: #f6f6f6", @required = "true" })
            </div>
            <div class="required field">
                <label>Segundo Apellido</label>
                @Html.TextBoxFor(Model => Model.series, new { @class = "form-control", @id = "txtSeries", @readonly = "true", @style = "background-color: #f6f6f6", @required = "true" })
            </div>
            <div class="required field">
                @Html.TextBoxFor(Model => Model.repeticion, new { @class = "form-control", @id = "txtRepeticion", @readonly = "true", @style = "background-color: #f6f6f6", @required = "true" })
            </div>
            <div class="required field">
                @Html.TextBoxFor(Model => Model.descanso, new { @class = "form-control", @id = "txtDescanso", @readonly = "true", @style = "background-color: #f6f6f6", @required = "true" })
            </div>
            <br />
            </div>

            <div class="two fields">
                <div class="required field">
                    <input type="submit" id="btnActualizarRutina" class="ui medium button hidden" style="margin-top:10px; background-color:#F05742; color:white" value="Guardar cambios" name="submit">
                </div>
            </div>
        </div>
    <br />
    <br />
    <br />



    @Html.Partial("RutinasParcial", Session["VerRutinas"])
}

}

@section Scripts
{
    @Scripts.Render("/Funciones/RutinaF.js")
}


