@model ProyectoProgra4.Entidades.clsInstructor

@{
    ViewBag.Title = "InsertarInstructor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("InsertarInstructor", "Instructor", FormMethod.Post, new { @class = "ui form", @id = "formInstructor" }))
{
    if (Session["Rol"].Equals("Administrador") && Session["InstructorRegistrado"] == null)
    {

        <div class="container body-content">
            <br />
            @*<h2 class="ui dividing header">Registrar Instructores</h2>*@
            <h3 class="font-weight-bold mb-4 ui dividing header">
                <i class=" small circle icon" style="color: #F05742"></i>REGISTRAR INSTRUCTORES
            </h3>
            <br />
            <div class="field">
                <label id="nombre">Cédula</label>
                <div class="three fields">
                    <div class="required field">
                        @Html.TextBoxFor(Model => Model.cedula, new { @class = "form-control", @id = "cedulaPersona", @required = "true" })
                    </div>
                    <div class="field">
                        @*<div class="ui big button" onclick="ConsultarPersona();" tabindex="0">Buscar</div>*@
                        <div class="ui big button" onclick="ConsultarPersona();" tabindex="0" style=" background-color:#F05742; color:white">Buscar</div>
                    </div>
                </div>
            </div>

            <div class="required field">
                <div class="three fields">
                    <div class="required field">
                        <label id="nombre">Nombre</label>
                        @Html.TextBoxFor(Model => Model.nombre, new { @class = "form-control", @id = "txtNombre", @readonly = "true", @style = "background-color: #f6f6f6", @required = "true" })
                    </div>
                    <div class="required field">
                        <label id="nombre">Primer Apellido</label>
                        @Html.TextBoxFor(Model => Model.primerApellido, new { @class = "form-control", @id = "txtPrimerApellido", @readonly = "true", @style = "background-color: #f6f6f6", @required = "true" })
                    </div>
                    <div class="required field">
                        <label id="nombre">Segundo Apellido</label>
                        @Html.TextBoxFor(Model => Model.segundoApellido, new { @class = "form-control", @id = "txtSegundoApellido", @readonly = "true", @style = "background-color: #f6f6f6", @required = "true" })
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="three fields">
                    @* Revisar campo de texto, es de 12 pero no se visualiza *@
                    <div class="required field">
                        <label id="nombre">Correo Electrónico</label>
                        @Html.TextBoxFor(Model => Model.correo, new { @class = "form-control", @id = "txtCorreo", @required = "true" })
                    </div>
                    <div class="required field">
                        <label id="nombre">Contraseña</label>
                        @Html.TextBoxFor(Model => Model.contrasenia, new { @class = "form-control", @id = "txtContrasenia", @type = "password", @required = "true" })
                    </div>
                </div>
            </div>
            <br />
            <div class="three fields">
                <div class="required field">
                    <label id="nombre">Edad</label>
                    @Html.TextBoxFor(Model => Model.edad, new { @class = "form-control", @id = "txtEdad", @required = "true" })
                    @Html.ValidationMessageFor(Model => Model.edad, null, new { @class = "text-danger", @style = "font-weight: 900" })
                </div>
                <div class="required field">
                    <label id="nombre">Número de teléfono</label>
                    @Html.TextBoxFor(Model => Model.telefono, new { @class = "form-control", @id = "txtTlf", @required = "true" })
                    @Html.ValidationMessageFor(Model => Model.telefono, null, new { @class = "text-danger", @style = "font-weight: 900" })
                </div>
                <div class="required field">
                    <label id="nombre">Número de emergencia</label>
                    @Html.TextBoxFor(Model => Model.telefonoEmergencia, new { @class = "form-control", @id = "txtTlfEmergencia", @required = "true" })
                    @Html.ValidationMessageFor(Model => Model.telefonoEmergencia, null, new { @class = "text-danger", @style = "font-weight: 900" })

                </div>

                @* Arreglar el select de los paises *@
                <!--<div class="required field">
                    <label>País</label>
                    <div class="ui fluid search selection dropdown">
                        <input type="hidden" name="country">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Country</div>
                        <div class="menu">
                        </div>
                    </div>
                </div>>-->
            </div>


            <div class="two fields">
                <div class="required field">
                    <label id="nombre">Especialidad</label>
                    @Html.DropDownListFor(Model => Model.especialidad, ViewBag.ListaComboEspecialidad as List<SelectListItem>, new { @id = "selectedEspecialidad", @required = "true" })
                </div>
                <div class="required field">
                    <label id="nombre">Tipo de sangre</label>
                    @Html.DropDownListFor(Model => Model.tipoSangre, ViewBag.ListaComboSangre as List<SelectListItem>, new { @id = "selectedMotivo", @required = "true" })
                </div>
                <div class="required field">
                    <label id="nombre">Sexo</label>
                    @Html.DropDownListFor(Model => Model.sexo, ViewBag.ListaComboSexo as List<SelectListItem>, new { @id = "selectedSexo", @required = "true" })
                </div>
            </div>


            <div class="ui form">
                <div class="required field">
                    <label id="nombre">Condiciones Médicas</label>
                    @Html.TextAreaFor(Model => Model.condicionesMedicas, new { @id = "txtCondiciones", @rows = "2", @required = "true" })
                </div>
                <div class="required field">
                    @* @Html.DropDownListFor(Model => Model.ID_Sexo, ViewBag.ListaComboSexo as List<SelectListItem>, new { @id = "selectedSexo", @required = "true" })*@
                </div>

                @*<button type="submit" class="ui big button" style="margin-top: 10px;">
                        Continuar
                    </button>*@
                <button type="submit" class="ui big button" style="margin-top: 10px; background-color:#F05742; color:white">
                    Continuar
                </button>
            </div>
        </div>
    }
    else
    {
        Response.Redirect("~/Administrador/Administrador");
    }


    @*if (ViewBag.Message != null)
    {
        @Html.Hidden("txtExito", (string)ViewBag.Message.ToString())
    }
    else
    {
        @Html.Hidden("txtExito", "")
    }*@
}

@section Scripts
{
    @Scripts.Render("/Funciones/HaciendaAPI.js")
    @Scripts.Render("/Funciones/ViewBags.js")

    <script>

        function ValidarDecimales(event) {
            if (event.which >= 48 && event.which <= 57) {
                return true;
            } else if (event.which == 46) {
                return true;
            } else {
                event.preventDefault;
            }
        }

        $(document).ready(function () {
            $("#txtEstatura").on("keypress keyup blur", function (event) {
                ValidarDecimales(event);
            });
            $("#txtPeso").on("keypress keyup blur", function (event) {
                ValidarDecimales(event);
            });
            $("#txtTlf").on("keypress keyup blur", function (event) {
                ValidarTelefono(event);
            });
        });




    </script>
}



