<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power Fit</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--<div class="navbar navbar-light navbar-fixed-top" style="background-color: #fff" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>-->
    @*@Html.ActionLink("Power Fit", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
    <!--</div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><img src="img/PowerFit.png" width="90"></li>
                    <li>@Html.ActionLink("Inicio", "PaginaPrincipal", "PaginaPrincipal")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Iniciar sesión", "Index", "Login")</li>
                </ul>
            </div>
        </div>
    </div>
    <hr />-->

    <nav class="navbar navbar-expand-lg  fixed-top" style="background-color: #fff; border-bottom: 1px solid #F05742 ">
        <a href="@Url.Action("PaginaPrincipal","PaginaPrincipal")" class="navbar-brand"><img src="~/img/PowerFit.png" width="90" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @*<li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>*@
                <li class="nav-item nav-link active">@Html.ActionLink("Inicio", "PaginaPrincipal", "PaginaPrincipal", null, new { Style = "color:#45403F; font-weight:600" })</li>
                @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@

            </ul>
            @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            <div class=" my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    @*<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>*@
                    <li class="nav-item nav-link"><i class="user icon" style="font-size:large"></i></li>
                    <li class="nav-item nav-link">@Html.ActionLink("Iniciar sesión", "Index", "Login", null, new { Style = "color:#45403F; font-weight:600" })</li>
                </ul>
            </div>
        </div>

    </nav>
    
    <div class="container body-content">

        @RenderBody()
        <br />
        <br />
        <hr size="4" color="F05742" />
        <footer style="text-align:center">
            <p>&copy; @DateTime.Now.Year - Power Fit</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
