
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Session["UserCorreo"] != null && Session["Rol"].Equals("Cliente"))
{
    <div id="msjLoginExito" class="ui success message hidden">
        <i class="close icon"></i>
        <div class="header">
            Su registro fue exitoso.
        </div>
        <p>Ya puedes hacer uso de todas las funcionalidades que ofrece Power Fit.</p>
    </div>

    <br />
    <br />

    if (Convert.ToInt32(Session["ID_Sexo"]) == 1)
    {
        @*<label style="font-weight: 900; font-size: 20px; padding-bottom: 10px;">Bienvenido, @HttpContext.Current.Session["Nombre"].ToString()</label>*@
        <h2 class="font-weight-bold mb-4 ">
            <i class="small circle icon" id="transformarTexto" style="color: #F05742"></i>Bienvenido, @HttpContext.Current.Session["Nombre"].ToString()
        </h2>

    }
    else if (Convert.ToInt32(Session["ID_Sexo"]) == 2)
    {
        @*<label class="transformarTexto" style="font-weight: 900; font-size: 20px; padding-bottom: 10px;">Bienvenida, @HttpContext.Current.Session["Nombre"].ToString()</label>*@
        <h2 class="font-weight-bold mb-4 ">
            <i class="small circle icon transformarTexto" style="color: #F05742"></i>Bienvenida, @HttpContext.Current.Session["Nombre"].ToString()
        </h2>
    }
    else
    {
        @*<label style="font-weight: 900; font-size: 20px; padding-bottom: 10px;">Buenas, @HttpContext.Current.Session["Nombre"].ToString()</label>*@
        <h2 class="font-weight-bold mb-4 ">
            <i class="small circle icon transformarTexto" style="color: #F05742"></i>Buenas, @HttpContext.Current.Session["Nombre"].ToString()
        </h2>
    }

    <br />
    <br />


    <div class="ui four column centered grid">
        <div class="four column centered row">
            <div class="column">
                <div class="ui centered red card">
                    <div class="image">
                        <img src="~/img/risen-wang-20jX9b35r_M-unsplash.jpg">
                    </div>
                    <div class="content">
                        <a href="@Url.Action("Reserva","Reservar")" class="header">Reservar</a>
                        <div class="description">
                            Acá podrá reservar sus clases y equipo necesario
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui centered red card">
                    <div class="image">
                        <img src="~/img/bruce-mars-gJtDg6WfMlQ-unsplash.jpg">
                    </div>
                    <div class="content">
                        <a href="@Url.Action("Index","Rutina")" class="header">Rutina</a>
                        <div class="description">
                            Acá podrá ver las rutinas de sus clases reservadas
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    if (ViewBag.Message != null)
    {
        @Html.Hidden("txtSuccessful", (string)ViewBag.Message.ToString())
    }
    else if (ViewBag.Message == null)
    {
        @Html.Hidden("txtSuccessful", "")
    }

}
else
{
    Response.Redirect("~/Login/Index");
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("/Funciones/ViewBags.js")