
@{
    ViewBag.Title = "Administrador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="body-content">
    <h2>Administrador</h2>
</div>


@if (Session["UserCorreo"] != null && Session["Rol"].Equals("Administrador"))
{
    <label style="font-weight: 900; font-size: 20px; padding-bottom: 10px;"></label>
    <div class="ui four column centered grid">
        <div class="four column centered row">
            <div class="column">
                <div class="ui centered red card">
                    <div class="image">
                        <img src="~/img/jonathan-borba-R0y_bEUjiOM-unsplash.jpg">
                    </div>
                    <div class="content">
                        <a href="@Url.Action("InsertarInstructor","Instructor")" class="header">Instructores</a>
                        <div class="description">
                            Panel de instructores
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui centered red card">
                    <div class="image">
                        <img src="~/img/danielle-cerullo-CQfNt66ttZM-unsplash.jpg">
                    </div>
                    <div class="content">
                        <a href="@Url.Action("Index", "AdministrarInstructor")" class="header">Administrar Instructores</a>
                        <div class="description">
                            Acá podrá ver los instuctores registrados.
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui centered red card">
                    <div class="image">
                        <img src="~/img/luis-vidal-FodEsaNZs48-unsplash.jpg">
                    </div>
                    <div class="content">
                        <a href="@Url.Action("Clientes","Clientes")" class="header">Clientes</a>
                        <div class="description">
                            Panel de Clientes
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui centered red card">
                <div class="ui image">
                    <img src="~/img/bernd-klutsch-nE2HV5AUXFo-unsplash.jpg">
                </div>
                <div class="content">
                    <a href="@Url.Action("Reportes","Reportes")" class="header">Reportes</a>
                    <div class="description">
                        Reportes
                    </div>
                </div>
            </div>
        </div>
    </div>

    if (ViewBag.Message != null)
    {
        @Html.Hidden("txtSuccessful", (string)ViewBag.Message.ToString())
    }
    else
    {
        @Html.Hidden("txtSuccessful", "")
    }

}
else
{
    Response.Redirect("~/Login/Index");
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("/Funciones/ViewBags.js")