
@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (Session["UserCorreo"] != null && Session["Rol"].Equals("Administrador"))
{
    <div class="container body-content">
        <h2 class="ui dividing header">Seleccione el reporte</h2>
        <br />
        <br />

        <div class="ui four column grid">
            <div class="row">
                <div class="column">
                    <h4>Reporte de clientes</h4>
                    <div class="ui buttons">
                        <input type="button" class="ui button" value="Ver" onclick="window.open('@Url.Action("ReporteClientes", "Reportes", new { target = "_blank" })')" />
                        <div class="or" data-text="o"></div>
                        <input type="button" class="ui positive button" value="Imprimir" onclick="location.href='@Url.Action("PrintReportsClientes", "Reportes")'" />
                    </div>
                </div>
                <div class="column">
                    <h4>Reporte de instructores</h4>
                    <div class="ui buttons">
                        <input type="button" class="ui button" value="Ver" onclick="window.open('@Url.Action("ReporteInstructores", "Reportes", new { target = "_blank" })')" />
                        <div class="or" data-text="o"></div>
                        <input type="button" class="ui positive button" value="Imprimir" onclick="location.href='@Url.Action("PrintReportsInstructores", "Reportes")'" />
                    </div>
                </div>
                <div class="column">
                    <h4>Reporte de reservas</h4>
                    <div class="ui buttons">
                        <input type="button" class="ui button" value="Ver" onclick="window.open('@Url.Action("ReporteReservas", "Reportes", new { target = "_blank" })')" />
                        <div class="or" data-text="o"></div>
                        <input type="button" class="ui positive button" value="Imprimir" onclick="location.href='@Url.Action("PrintReportsReservas", "Reportes")'" />
                    </div>
                </div>
                <div class="column">
                    <h4>Reporte de bitácoras</h4>
                    <div class="ui buttons">
                        <input type="button" class="ui button" value="Ver" onclick="window.open('@Url.Action("ReporteBitacora", "Reportes", new { target = "_blank" })')" />
                        <div class="or" data-text="o"></div>
                        <input type="button" class="ui positive button" value="Imprimir" onclick="location.href='@Url.Action("PrintReportsBitacora", "Reportes")'" />
                    </div>
                </div>
            </div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column"></div>
        </div>

        <br />
        <br />
        <br />




        <!--<div>
            <h3>Reporte de clientes</h3>
            <div class="ui buttons">
                <input type="button" class="ui button" value="Ver" onclick="location.href='@Url.Action("ReporteClientes", "Reportes")'" />-->
        @*<button class="ui button">Ver</button>*@
        <!--<div class="o">or</div>
        <input type="button" class="ui positive button" value="Imprimir" onclick="location.href='@Url.Action("PrintReportsClientes", "Reportes")'" />-->
        @*<button class="ui positive button">Imprimir</button>*@
        <!--</div>
        </div>

        <div>
            <h3>Reporte de instructores</h3>
            <div class="ui buttons">
                <input type="button" class="ui button" value="Ver" onclick="location.href='@Url.Action("ReporteInstructores", "Reportes")'" />-->
        @*<button class="ui button">Ver</button>*@
        <!--<div class="o"></div>
        <input type="button" class="ui positive button" value="Imprimir" onclick="location.href='@Url.Action("PrintReportsInstructores", "Reportes")'" />-->
        @*<button class="ui positive button">Imprimir</button>*@
        <!--</div>

        </div>-->






    </div>




    if (ViewBag.Message != null)
    {
        @Html.Hidden("txtSuccessful", (string)ViewBag.Message.ToString())
    }
    else
    {
        @Html.Hidden("txtSuccessful", "")
    }

}
else
{
    Response.Redirect("~/Login/Index");
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("/Funciones/ViewBags.js")