@model ProyectoProgra4.Entidades.clsInstructor

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("ActualizarInstructor", "AdministrarInstructor", FormMethod.Post, new { @class = "ui form" }))
{
    <div id="actualizarContainer" class="container body-content hidden">
        <a href="">
            <i onclick="EsconderDiv();" class="close large icon"></i>
        </a>
        <div class="field">
            <label>Cédula</label>
            <div class="three fields">
                <div class="required field">
                    @Html.TextBoxFor(Model => Model.cedula, new { @class = "form-control", @id = "cedulaPersona", @required = "true", @readonly = "true", @style = "background-color: #f6f6f6" })
                </div>
            </div>
        </div>

        <div class="required field">
            <div class="three fields">
                <div class="required field">
                    <label>Nombre</label>
                    @Html.TextBoxFor(Model => Model.nombre, new { @class = "form-control", @id = "txtNombre", @readonly = "true", @style = "background-color: #f6f6f6", @required = "true" })
                </div>
                <div class="required field">
                    <label>Primer Apellido</label>
                    @Html.TextBoxFor(Model => Model.primerApellido, new { @class = "form-control", @id = "txtPrimerApellido", @readonly = "true", @style = "background-color: #f6f6f6", @required = "true" })
                </div>
                <div class="required field">
                    <label>Segundo Apellido</label>
                    @Html.TextBoxFor(Model => Model.segundoApellido, new { @class = "form-control", @id = "txtSegundoApellido", @readonly = "true", @style = "background-color: #f6f6f6", @required = "true" })
                </div>
            </div>
        </div>

        <div class="field">
            <div class="three fields">
                @* Revisar campo de texto, es de 12 pero no se visualiza *@
                <div class="required field">
                    <label>Correo Electrónico</label>
                    @Html.TextBoxFor(Model => Model.correo, new { @class = "form-control", @id = "txtCorreo", @required = "true" })
                </div>
            </div>
        </div>

        <br />
        <div class="four fields">
            <div class="required field">
                <label>Edad</label>
                @Html.TextBoxFor(Model => Model.edad, new { @class = "form-control", @id = "txtEdad", @required = "true" })
                @Html.ValidationMessageFor(Model => Model.edad, null, new { @class = "text-danger", @style = "font-weight: 900" })
            </div>
            <div class="required field">
                <label>Número de teléfono</label>
                @Html.TextBoxFor(Model => Model.telefono, new { @class = "form-control", @id = "txtTlf", @required = "true" })
                @Html.ValidationMessageFor(Model => Model.telefono, null, new { @class = "text-danger", @style = "font-weight: 900" })
            </div>
            <div class="required field">
                <label>Número de emergencia</label>
                @Html.TextBoxFor(Model => Model.telefonoEmergencia, new { @class = "form-control", @id = "txtTlfEmergencia", @required = "true" })
                @Html.ValidationMessageFor(Model => Model.telefonoEmergencia, null, new { @class = "text-danger", @style = "font-weight: 900" })

            </div>

            @* Arreglar el select de los paises *@
            <!--<div class="required field">
                <label>País</label>
                <div class="ui fluid search selection dropdown">
                    <input type="hidden" name="country">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select Country</div>
                    <div class="menu">
                    </div>
                </div>
            </div>>-->
        </div>


        <div class="two fields">
            <div class="required field">
                <label>Motivo</label>
                @Html.DropDownListFor(Model => Model.especialidad, ViewBag.ListaComboEspecialidad as List<SelectListItem>, new { @id = "selectedEspecialidad", @required = "true" })
            </div>
        </div>

        <div class="ui form">
            <div class="required field">
                <label>Condiciones Médicas</label>
                @Html.TextAreaFor(Model => Model.condicionesMedicas, new { @id = "txtCondiciones", @rows = "2", @required = "true" })
                @*<textarea rows="2"></textarea>*@
            </div>
        </div>

        <div class="two fields">
            <div class="required field">
                <input type="submit" id="btnActualizarCambios" class="ui medium button hidden" style="margin-top:10px; background-color:#F05742; color:white" value="Guardar Cambios" name="submit">
            </div>
        </div>
    </div>



    <br />
    <br />
    <br />



    @Html.Partial("ModificarInstructorPartial", Session["VerInstructores"])
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>

    @Scripts.Render("/Funciones/Instructores.js")
    @Scripts.Render("/Funciones/ViewBags.js")

}
