@model IEnumerable<Reserva> 


<table class="table table-bordered table-hover" style="text-align:center">
    <thead style="background-color: #45403F; color:white">
        <tr>
            <th>Disciplina</th>
            <th>Día</th>
            <th>Hora</th>
            <th>Requiere Equipo</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.nombreDis</td>
                <td>@item.dia.ToString("dd/MM/yyyy").Trim()</td>
                <td>@item.hora PM</td>

                @if (item.equipo == true)
                {
                    <td style="color:#F05742"><i class="check circle icon"></i></td>
                }
                else
                {
                    <td></td>
                }
                <td>
                    <div class="form-group row" style="align-content:center">
                        <div class="col-sm-3">

                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="ui medium button" id="btnActualizar" style="margin-top: 10px; background-color:#F05742; color:white" onclick="ActualizarDatos(@item.reservaID)" ;>
                                Actualizar
                            </button>
                        </div>
                        <div class="col-sm-2">
                            @*@using (Html.BeginForm("EliminarReserva", "Reservar", new { id = item.reservaID }, FormMethod.Post))
                            {
                                <button type="submit" class="ui medium button" style="margin-top: 10px; background-color:#F05742; color:white">
                                    Eliminar
                                </button>
                            }*@
                            <button type="submit" class="ui medium button" style="margin-top: 10px; background-color:#F05742; color:white" onclick="EliminarReserva(@item.reservaID)">
                                    Eliminar
                                </button>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>

    @Scripts.Render("/Funciones/Reserva.js")
}
