@model ProyectoProgra4.Entidades.clsReserva


@{
    ViewBag.Title = "Reserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">

@using (Html.BeginForm("ValidarBoton", "Reservar", FormMethod.Post, new { @class = "ui form" }))
{
if (Session["UserCorreo"] != null)
{
<div class="container body-content">
    <br />
    <br />
    <br />
 
    <div id="msjErrorReserva" class="ui negative message hidden">
        <i class="close icon"></i>
        <div class="header">
           Ya se encuentra una reserva para el día seleccionado.
        </div>
        <p>
            Por favor seleccionar otro día o disciplina.
        </p>
    </div>
    <br />

    <div class="two field">
        <div class="field">
            <label>¿Qué disciplina desea reservar?</label>
            @Html.DropDownListFor(m => m.claseID, ViewBag.ListaComboDis as List<SelectListItem>, new { onchange = "obtenerValor()", @id = "selectedDis", required="true"})
        </div>
        <div class="field">
            @Html.TextBoxFor(m => m.reservaID, new { @class = "text hidden", autocomplete = "off", @id="reservaTXT" })
        </div>
    </div>
    <br />
    <div class="field">
        <label>Día y hora que desea reservar</label>
        <div class="two fields">
            <div class="field">
                <div class="ui calendar" id="custom_format_calendar">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        @Html.TextBoxFor(m => m.dia, new { @class = "text", @placeholder = "Dia", autocomplete = "off", required="true", @id="dia", onblur = "ValidarFecha()" })

                    </div>
                </div>
            </div>
            <div class="field">
                <div class="ui calendar" id="time_calendar">
                    <div class="ui input left icon">
                        <i class="time icon"></i>
                        @Html.TextBoxFor(m => m.hora, new { @id = "hora", @class = "text", @placeholder = "Hora", autocomplete = "off", required="true", onchange = "obtenerHora()" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h4 class="ui dividing header">Equipo</h4>
    <div class="field">
    </div>
    <div class="ui segment">
        <div class="field">
            <div class="ui toggle checkbox">
                @Html.CheckBoxFor(m => m.equipo, new { @class = "checkbox", @id = "togBtn", onchange = "toggle()" })
                <label>Desea reservar equipo para su clase?</label>
            </div>
        </div>
    </div>
    <input type="submit" id="btnReservar" class="ui medium button" style="margin-top: 10px; background-color:#F05742; color:white" value="Reservar" name="submit">
    <input type="submit" id="btnActualizarCambios" class="hidden ui medium button" style="margin-top: 10px; background-color:#F05742; color:white" value="Guardar Cambios" name="submit" onclick="obtenerHora()">

</div>
}else {
Response.Redirect("~/Login/Index");
}
    if (ViewBag.ErrorReserva != null)
    {
        @Html.Hidden("txtErrorReserva", (string)ViewBag.ErrorReserva.ToString())
    }
    else
    {
        @Html.Hidden("txtErrorReserva", "")
    }
}

   

<br />
<br />

@Html.Partial("MostrarReservasPartial", Session["mostrarReservas"]) @*Se llama a la vista parcial donde se ven todas las reservas*@

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>

    @Scripts.Render("/Funciones/Reserva.js")
    @Scripts.Render("/Funciones/ViewBags.js")
    <script>
        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade');
            });
    </script>
}
