@*@model  ProyectoProgra4.Disciplinas*@
@model ProyectoProgra4.Entidades.clsReserva


@{
    ViewBag.Title = "Reserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">

@*<div class="container body-content">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <form class="ui form">
            <div class="one field">
                <div class="field">
                    <label>¿Qué disciplina desea reservar?</label>
                    @Html.DropDownListFor(m => m.claseID, ViewBag.ListaComboDis as IEnumerable<SelectListItem> )
                 </div>
            </div>
            <br />
            <div class="field">
                <label>Día y hora que desea reservar</label>
                <div class="two fields">
                    <div class="field">
                        <div class="ui calendar" id="custom_format_calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Date">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui calendar" id="time_calendar">
                            <div class="ui input left icon">
                                <i class="time icon"></i>
                                <input type="text" placeholder="Time">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="ui dividing header">Equipo</h4>
            <div class="field">
            </div>
            <div class="ui segment">
                <div class="field">
                    <div class="ui toggle checkbox">
                        <input id="togBtn" type="checkbox" name="gift" tabindex="0" onchange="obtenerValor()">
                        <label>Desea reservar equipo para su clase?</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="ui medium button" style="margin-top: 10px; background-color:#F05742; color:white">
                Reservar
            </button>
        </form>
    </div>*@

@using (Html.BeginForm("InsertarReserva", "Reservar", FormMethod.Post, new { @class = "ui form" }))
{
    <div class="container body-content">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="one field">
            <div class="field">
                <label>¿Qué disciplina desea reservar?</label>
                @Html.DropDownListFor(m => m.claseID, ViewBag.ListaComboDis as List<SelectListItem>, new { onchange = "obtenerValor()" , @id= "selectedDis" })
            </div>
        </div>
        <br />
        <div class="field">
            <label>Día y hora que desea reservar</label>
            <div class="two fields">
                <div class="field">
                    <div class="ui calendar" id="custom_format_calendar">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            @Html.TextBoxFor(m => m.dia, new { @class = "text", @placeholder = "Dia" , autocomplete="off"})
                            @*<input type="text" placeholder="Date">*@
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui calendar" id="time_calendar">
                        <div class="ui input left icon">
                            <i class="time icon"></i>
                            @*<input type="text" placeholder="Time">*@
                            @Html.TextBoxFor(m => m.hora, new { @class = "text", @placeholder = "Hora", autocomplete = "off" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="ui dividing header">Equipo</h4>
        <div class="field">
        </div>
        <div class="ui segment">
            <div class="field">
                <div class="ui toggle checkbox">
                    @*<input id="togBtn" type="checkbox" name="gift" tabindex="0" onchange="obtenerValor()">*@
                    @Html.CheckBoxFor(m => m.equipo, new { @class = "checkbox", @id = "togBtn", onchange = "toggle()" })
                    <label>Desea reservar equipo para su clase?</label>
                </div>
            </div>
        </div>
        <button type="submit" class="ui medium button" style="margin-top: 10px; background-color:#F05742; color:white">
            Reservar
        </button>

    </div>
}
<br />
<br />


@Html.Partial("MostrarReservasPartial", Session["mostrarReservas"])

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>

    @Scripts.Render("/Funciones/Reserva.js")

}
